* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.project-counter-container {
  text-align: center;
  width: 500px;
}

.heading {
  font-size: 3.5rem;
  margin: 2rem 0;
}

.value {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.btn-contain {
  display: flex;
  justify-content: space-between;
}

.btn-counter {
  background: transparent;
  padding: 5px 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0.5rem;
}
